Sales Agent - Legacy/☁️ CRM Manager.json
{
  "name": "☁️ CRM Manager",
  "nodes": [
    {
      "parameters": {
        "operation": "get",
        "tableId": "contacts",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "keyValue": "={{ $json.email.toLowerCase() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        720,
        1280
      ],
      "id": "65d4753d-1861-47f9-b731-5e04090e6878",
      "name": "Find DB contact",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "FCsEY0pILVbfm9UX",
          "name": "Supabase (Thatch)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ca833c1f-b535-4372-84d9-e1aa3120fea2",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1008,
        1280
      ],
      "id": "95f18b7e-38bb-45f2-837a-f59ca7f9b147",
      "name": "New?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "37ef65b9-b699-4438-99ff-aed19312bc3f",
              "leftValue": "={{ $json.email.toLowerCase() }}",
              "rightValue": "thatch.ai",
              "operator": {
                "type": "string",
                "operation": "notEndsWith"
              }
            },
            {
              "id": "21f7f8d7-9e03-4be1-a168-4493f9297b55",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        1424
      ],
      "id": "bf373fd3-7aaa-4584-952e-96e403bc105d",
      "name": "Valid?"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let contact = $json;\ncontact.operation = 'existing'\n\nreturn { contact: contact };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3808,
        1424
      ],
      "id": "f237ae9d-3e78-426b-b19e-2ec2da39c5a8",
      "name": "Output existing contact"
    },
    {
      "parameters": {
        "tableId": "accounts",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $json.account.name }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "={{ $json.account.type }}"
            },
            {
              "fieldId": "website",
              "fieldValue": "={{ $json.account.website }}"
            },
            {
              "fieldId": "industry",
              "fieldValue": "={{ $json.account.industry }}"
            },
            {
              "fieldId": "employees",
              "fieldValue": "={{ $json.account.employees }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "={{ $json.account.source }}"
            },
            {
              "fieldId": "arr",
              "fieldValue": "={{ $json.account.arr }}"
            },
            {
              "fieldId": "salesforce_id",
              "fieldValue": "={{ $json.account.salesforce_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3248,
        1152
      ],
      "id": "49c7a90e-32c6-443c-8907-5f95f3d79ac8",
      "name": "Create account",
      "retryOnFail": false,
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "FCsEY0pILVbfm9UX",
          "name": "Supabase (Thatch)"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "tableId": "contacts",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "first_name",
              "fieldValue": "={{ $('Prepare data').item.json.contact.first_name }}"
            },
            {
              "fieldId": "last_name",
              "fieldValue": "={{ $('Prepare data').item.json.contact.last_name }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $('Prepare data').item.json.contact.email }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{ $('Prepare data').item.json.contact.title }}"
            },
            {
              "fieldId": "salesforce_id",
              "fieldValue": "={{ $('Prepare data').item.json.contact.salesforce_id }}"
            },
            {
              "fieldId": "organization",
              "fieldValue": "={{ $('Prepare data').item.json.account.name }}"
            },
            {
              "fieldId": "account_id",
              "fieldValue": "={{ $json.id || null}}"
            },
            {
              "fieldId": "type",
              "fieldValue": "={{ $('Prepare data').item.json.contact.type }}"
            },
            {
              "fieldId": "linkedin_url",
              "fieldValue": "={{ $('Prepare data').item.json.contact.linkedin_url }}"
            },
            {
              "fieldId": "role",
              "fieldValue": "={{ $('Prepare data').item.json.contact.role }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3520,
        1152
      ],
      "id": "1904c3ad-f1d0-4c12-98e8-41ebf9f91b1d",
      "name": "Create contact",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "FCsEY0pILVbfm9UX",
          "name": "Supabase (Thatch)"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  contact: {\n    email: $json.email,\n    operation: 'invalid'\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3808,
        1712
      ],
      "id": "53c39814-8961-4bcd-8fbe-cdaece5e0f21",
      "name": "Output invalid"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1,
        "options": {
          "conditionsUi": {
            "conditionValues": [
              {
                "field": "Email",
                "value": "={{ $('Valid?').item.json.email.toLowerCase() }}"
              }
            ]
          },
          "fields": "Id,FirstName,LastName,Email,Title,Company,ConvertedContactID,ConvertedAccountID,ConvertedOpportunityID,PhotoUrl,LeadSource,Status,Lead_Acquisition_Source__c,Inbound_Lead_Status__c,Type__c"
        }
      },
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [
        1280,
        1152
      ],
      "id": "4239a309-bdf4-4371-88f5-feb2b5494cbc",
      "name": "Find SF lead",
      "alwaysOutputData": true,
      "credentials": {
        "salesforceOAuth2Api": {
          "id": "jmAirEih2mDtShjG",
          "name": "Salesforce account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "getAll",
        "limit": 1,
        "options": {
          "conditionsUi": {
            "conditionValues": [
              {
                "field": "Email",
                "value": "={{ $('Valid?').item.json.email.toLowerCase() }}"
              }
            ]
          },
          "fields": "Id,FirstName,LastName,Email,Title,AccountId,LeadSource"
        }
      },
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [
        1568,
        1152
      ],
      "id": "ca2aff7b-f8b4-45fe-8c4a-ffdf36998f55",
      "name": "Find SF contact",
      "alwaysOutputData": true,
      "credentials": {
        "salesforceOAuth2Api": {
          "id": "jmAirEih2mDtShjG",
          "name": "Salesforce account"
        }
      }
    },
    {
      "parameters": {
        "resource": "account",
        "operation": "getAll",
        "limit": 1,
        "options": {
          "fields": "Id,Name,Type,Website,AccountSource,NumberOfEmployees",
          "conditionsUi": {
            "conditionValues": [
              {
                "field": "Id",
                "value": "={{ $('Find SF lead').item.json.ConvertedAccountId }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [
        1840,
        1152
      ],
      "id": "d9e0389a-b461-4962-a200-fdac5be2d4ad",
      "name": "Find SF account",
      "alwaysOutputData": true,
      "credentials": {
        "salesforceOAuth2Api": {
          "id": "jmAirEih2mDtShjG",
          "name": "Salesforce account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "opportunity",
        "operation": "getAll",
        "limit": 1,
        "options": {
          "conditionsUi": {
            "conditionValues": [
              {
                "field": "AccountId",
                "value": "={{ $json.Id || null }}"
              }
            ]
          },
          "fields": "Id,RecordTypeId,Name,StageName,Probability,CloseDate,LeadSource,IsClosed,IsWon,CreatedDate,LastActivityDate,Fiscal,ContactId,HasOpenActivity,HasOverdueTask,IsPriorityRecord,Budget_Confirmed__c,Discovery_Completed__c,ROI_Analysis_Completed__c,Is_Renewed__c,Lead_Acquisition_Source__c,Created_via_Partner_Portal__c,Employer_Involved__c,Record_Type_Name__c,Ready_To_Close__c,Primary_Quote_Count__c,Weighted_ARR__c"
        }
      },
      "type": "n8n-nodes-base.salesforce",
      "typeVersion": 1,
      "position": [
        2128,
        1152
      ],
      "id": "af65aeb6-a188-46cd-9582-6ec12a3ad767",
      "name": "Find SF Opportunity",
      "alwaysOutputData": true,
      "credentials": {
        "salesforceOAuth2Api": {
          "id": "jmAirEih2mDtShjG",
          "name": "Salesforce account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Utility to safely get the first non-empty value out of a list of possible values\nconst coalesce = (...args) => args.find(val => val || val === false) ?? null;\n\nconst lead = $('Find SF lead').first().json;\nconst contact = $('Find SF contact').first().json;\nconst account = $('Find SF account').first().json;\nconst opportunity = $('Find SF Opportunity').first().json;\nconst apolloPerson = $('Get Apollo contact').first().json.person;\nconst apolloOrganization = $('Get Apollo account').first().json.organization;\n\n// Normalize and get clean website domain\nconst cleanWebsite = website => {\n  if (!website) return null;\n  return website\n    .replace(/^https?:\\/\\/(www\\.)?/i, '') // remove protocol and www\n    .replace(/^www\\./i, '')\n    .split('/')[0]; // remove anything after slash\n};\n\n// Get email domain if needed\nconst getEmailDomain = email =>\n  typeof email === 'string' && email.includes('@') ? email.split('@')[1] : null;\n\n// Role logic clearly separated\nconst brokerTypes = new Set(['Broker', 'Partner']);\nlet role = 'Prospect';\n\nif (brokerTypes.has(account?.Type) || opportunity?.Record_Type_Name__c === 'Broker Opportunity') {\n  role = 'Partner';\n} else if (opportunity?.Record_Type_Name__c === 'Prospect Opportunity') {\n  role = 'Employer';\n}\n\nconst inputEmail = $('Valid?').item.json.email?.toLowerCase() || null;\n\nconst constructedContact = {\n  first_name: coalesce(contact?.FirstName, lead?.FirstName, apolloPerson?.first_name),\n  last_name: coalesce(contact?.LastName, lead?.LastName, apolloPerson?.last_name),\n  title: coalesce(contact?.Title, lead?.Title, apolloPerson?.title),\n  email: coalesce(\n    contact?.Email?.toLowerCase?.(),\n    lead?.Email?.toLowerCase?.(),\n    inputEmail\n  ),\n  linkedin_url: apolloPerson?.linkedin_url ?? null,\n  role: role,\n  type: contact?.Id ? 'Contact' : 'Lead',\n  salesforce_id: coalesce(contact?.Id, lead?.Id),\n};\n\nconst constructedAccount = {\n  name: coalesce(account?.Name, lead?.Company, apolloOrganization?.name, apolloPerson?.contact?.organization_name),\n  type: coalesce(role, account?.Type),\n  website: coalesce(\n    cleanWebsite(account?.Website),\n    apolloOrganization?.primary_domain,\n    getEmailDomain(inputEmail)\n  ),\n  source: opportunity?.LeadSource ?? null,\n  arr: opportunity?.Weighted_ARR__c ?? null,\n  employees: coalesce(account?.NumberOfEmployees, apolloOrganization?.estimated_num_employees),\n  industry: coalesce(account?.Industry, apolloOrganization?.industry),\n  salesforce_id: coalesce(account?.Id, lead?.ConnectedAccountId),\n};\n\nreturn {\n  json: {\n    contact: constructedContact,\n    account: constructedAccount,\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2960,
        1152
      ],
      "id": "92620532-82fb-47ca-b4d8-e7305f2b6fc6",
      "name": "Prepare data"
    },
    {
      "parameters": {
        "url": "https://api.apollo.io/v1/people/match",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $('Valid?').item.json.email.toLowerCase() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        1152
      ],
      "id": "195bcfd1-d43d-49e5-80aa-d85086758c18",
      "name": "Get Apollo contact",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "VI9RDAPVbJCEEO06",
          "name": "Flowcraft - Apollo - Shared"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://api.apollo.io/v1/organizations/enrich",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "domain",
              "value": "={{ $('Valid?').item.json.email.toLowerCase().split('@')[1] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2688,
        1152
      ],
      "id": "87ee4907-f368-47ee-aed5-bfcb627b67d6",
      "name": "Get Apollo account",
      "alwaysOutputData": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "VI9RDAPVbJCEEO06",
          "name": "Flowcraft - Apollo - Shared"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let contact = $json || {};\nlet account = $('Create account').first()?.json || {};\n\nlet operation = 'success';\nif (account.error && contact.error) {\n  operation = 'account-contact-error';\n} else if (account.error) {\n  operation = 'account-error';\n} else if (contact.error) {\n  operation = 'contact-error';\n}\n\ncontact.operation = operation;\nreturn { contact: contact };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3808,
        1152
      ],
      "id": "dbebf85c-782f-43fd-83ca-ad9fbc252d3f",
      "name": "Output new contact"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "email"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        160,
        1424
      ],
      "id": "71542797-cae3-478c-bd43-22b34e5ec1ce",
      "name": "New contact"
    },
    {
      "parameters": {
        "content": "# Fetch Apollo Data",
        "height": 880,
        "width": 460
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2368,
        960
      ],
      "id": "75bc5cff-a920-4f0f-8292-03d2da2f794d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Create & Save Contact",
        "height": 880,
        "width": 1020,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2928,
        960
      ],
      "id": "0a6580b5-523f-4c59-b71d-86353a5fcf32",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Fetch Salesforce Data",
        "height": 880,
        "width": 1020,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1248,
        960
      ],
      "id": "533d4460-bcfc-4eca-865e-592f470c20dd",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Filter Invalid or Existing Contacts\n\n- Input: `email`",
        "height": 880,
        "width": 1020,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        128,
        960
      ],
      "id": "3525c7d7-aaff-4c61-9ab0-4bb23b846f0a",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {
    "New contact": [
      {
        "json": {
          "email": "Lauren.yockey@libertycompany.com"
        }
      }
    ]
  },
  "connections": {
    "Find DB contact": {
      "main": [
        [
          {
            "node": "New?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New?": {
      "main": [
        [
          {
            "node": "Find SF lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Output existing contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid?": {
      "main": [
        [
          {
            "node": "Find DB contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Output invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output existing contact": {
      "main": [
        []
      ]
    },
    "Create account": {
      "main": [
        [
          {
            "node": "Create contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create contact": {
      "main": [
        [
          {
            "node": "Output new contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Output new contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output invalid": {
      "main": [
        []
      ]
    },
    "Find SF lead": {
      "main": [
        [
          {
            "node": "Find SF contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find SF contact": {
      "main": [
        [
          {
            "node": "Find SF account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find SF account": {
      "main": [
        [
          {
            "node": "Find SF Opportunity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find SF Opportunity": {
      "main": [
        [
          {
            "node": "Get Apollo contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Apollo contact": {
      "main": [
        [
          {
            "node": "Get Apollo account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Apollo account": {
      "main": [
        [
          {
            "node": "Prepare data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare data": {
      "main": [
        [
          {
            "node": "Create account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output new contact": {
      "main": [
        []
      ]
    },
    "New contact": {
      "main": [
        [
          {
            "node": "Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "54c7d28c-9359-495b-b00a-d99728a6797e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "535bad63c9c52b6977a8baf998b1abee47fd663b1d2f26eee3f9a571ef54d666"
  },
  "id": "pAAy05a3QA51pckv",
  "tags": []
}