Sales Agent - Legacy/🔖 Transcript Summarizer.json
{
  "name": "🔖 Transcript Summarizer",
  "nodes": [
    {
      "parameters": {
        "content": "## Download Processed Transcript",
        "height": 740,
        "width": 740,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        400,
        128
      ],
      "id": "3e814e9d-6349-4a98-8739-6a4f1a0d02a0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const transcript = $('Update a row').item.json;\n\nif (!transcript) {\n  return {\n    transcript: {\n      id: null,\n      title: null,\n      type: null,\n      is_summarized: null,\n      operation: 'error'\n    }\n  }\n}\n\nconst data = transcript.transcript ? transcript.transcript : transcript;\n\n\nreturn  {\n    transcript: {\n      id: data?.id || null,\n      title: data?.title || null,\n      type: data?.type || null,\n      is_summarized: data?.is_summarized || null,\n      operation: transcript?.error?.slice(0,9) === 'duplicate' \n        ? 'duplicate' \n        : (transcript.error ? 'error' : 'success')\n    }\n  };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2960,
        448
      ],
      "id": "9a5df9a2-a787-4959-89dc-6d28bc810826",
      "name": "Output"
    },
    {
      "parameters": {
        "content": "## Identify Call Type",
        "height": 740,
        "width": 880,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1248,
        128
      ],
      "id": "bb612045-4bb5-48bd-8c25-3fcdbc3c45ac",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Summarize and Evaluate Calls",
        "height": 740,
        "width": 880,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2224,
        128
      ],
      "id": "d932625d-a067-47c5-b67f-59021d4d9bc9",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "transcript_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        448,
        448
      ],
      "id": "ad9d2d35-c1ba-42de-b033-05280198eb62",
      "name": "Transcript id"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "transcripts_processed",
        "limit": 1,
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.transcript_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        720,
        448
      ],
      "id": "ab979bba-18e0-465a-a65e-25e9fd103f66",
      "name": "Get transcript from DB",
      "alwaysOutputData": true,
      "notesInFlow": true,
      "credentials": {
        "supabaseApi": {
          "id": "FCsEY0pILVbfm9UX",
          "name": "Supabase (Thatch)"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "transcripts_fireflies"
    },
    {
      "parameters": {
        "jsCode": "const transcript = $input.first().json;\nconst speakers = transcript.speakers || [];\nconst segments = transcript.segments || [];\n\n// Create a speaker mapping object for quick lookup\nconst speakerMapping = {};\nspeakers.forEach(speaker => {\n  speakerMapping[speaker.id] = speaker;\n});\n\n// Helper function to check if a value should be included\nfunction isValidValue(value) {\n  if (!value) return false;\n  if (typeof value !== 'string') return false;\n  \n  const trimmed = value.trim().toLowerCase();\n  const invalidValues = ['unknown', 'unknown title', 'unknown org', 'unknown role', 'null', 'undefined', ''];\n  \n  return !invalidValues.includes(trimmed);\n}\n\n// Helper function to build speaker info string, skipping unknown/null values\nfunction buildSpeakerInfo(speaker) {\n  const parts = [];\n  \n  // Add title if it exists and isn't null/unknown\n  if (isValidValue(speaker.title)) {\n    parts.push(speaker.title);\n  }\n  \n  // Add organization if it exists and isn't null/unknown\n  if (isValidValue(speaker.organization)) {\n    parts.push(speaker.organization);\n  }\n  \n  // Add role if it exists and isn't null/unknown\n  if (isValidValue(speaker.role)) {\n    parts.push(speaker.role);\n  }\n  \n  // Return formatted string or empty string if no valid info\n  return parts.length > 0 ? `(${parts.join(', ')}) ` : '';\n}\n\n// Process the transcript and format each entry\nconst formattedTranscript = segments.map(entry => {\n  const speaker = speakerMapping[entry.speaker_id];\n  \n  if (!speaker) {\n    return `**Unknown Speaker** [${entry.start_time}]: ${entry.text}`;\n  }\n  \n  // Build the name part\n  const fullName = `${speaker.first_name} ${speaker.last_name}`;\n  \n  // Build the info part (title, organization, role) - skipping nulls\n  const speakerInfo = buildSpeakerInfo(speaker);\n  \n  // Format the complete line\n  const speakerLine = `**${fullName}** ${speakerInfo}[${entry.start_time}]: ${entry.text}`;\n  \n  return speakerLine;\n}).join('\\n\\n');\n\n// Return the formatted transcript with metadata\nreturn {\n    title: transcript?.title || '',\n    participants: speakers,\n    formatted_transcript: formattedTranscript,\n  };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        448
      ],
      "id": "f39d4c92-9c8f-4053-ba01-5ea95cfe9157",
      "name": "Prepare transcript"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1280,
        608
      ],
      "id": "917b16bc-d13e-4d67-8432-d2a4cf75fc49",
      "name": "gpt-4.1-mini1",
      "credentials": {
        "openAiApi": {
          "id": "0BO4TUwJ9VocTtO9",
          "name": "OpenAi (Sales Analyzer)"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"type\": \"string\",\n  \"enum\": [\n    \"Prospect discovery\",\n    \"Prospect demo\", \n    \"Prospect objections\",\n    \"Prospect negotiations\",\n    \"Prospect closing\",\n    \"Client onboarding\",\n    \"Client checkin\",\n    \"Client upsell\",\n    \"Client renewal\",\n    \"Client support\",\n    \"Partner strategy\",\n    \"Partner joint meeting\",\n    \"Partner training\",\n    \"Partner referral\",\n    \"Internal sales meeting\",\n    \"Internal coaching\",\n    \"Internal pipeline review\",\n    \"Internal strategy\",\n    \"Investor update\",\n    \"Investor board presentation\",\n    \"Investor advisory\",\n    \"Other no show\",\n    \"Other technical issue\",\n    \"Other cancelled\"\n  ],\n  \"description\": \"The type of sales call being categorized\"\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1408,
        608
      ],
      "id": "3f51c864-7c21-4214-882e-29059f68b701",
      "name": "JSON type"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<TITLE>\n{{ $json.title }}\n</TITLE>\n<PARTICIPANTS>\n{{ $json.participants.toJsonString() }}\n</PARTICIPANTS>\n<TRANSCRIPT>\n{{ $json.formatted_transcript.slice(10000,25000) }}\n</TRANSCRIPT>",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=# Sales Transcript Analyzer\n\n## Role\nYou are a sales performance analyst.\n\n## Goal\nUnderstand if this is a sales call between the Thatch team and a prospect, emploer, or broker, or another type of sales call.\n\n## Instructions\n\nRead the whole information provided: transcript <TITLE>, <PARTICIPANTS>, and <TRANSCRIPT> fragment.\n\nDecide what type of call this is:\n\n### Prospect Calls\n- **Prospect discovery** - Information gathering sessions to understand prospect needs and pain points\n- **Prospect demo** - Product demonstrations and feature presentations to prospects\n- **Prospect objections** - Clarifying needs, features, and discussing various objections and follow-up questions with prospect\n- **Prospect negotiations** - Pricing discussions, deal structuring, and contract negotiations\n- **Prospect closing** - Final decision-making conversations aimed at securing commitment\n\n### Client Calls\n- **Client onboarding** - New client setup, orientation, and initial implementation sessions\n- **Client checkin** - Regular relationship maintenance and status update calls with existing clients\n- **Client upsell** - Expansion opportunity discussions with current clients for additional products/services\n- **Client renewal** - Contract renewal and retention conversations with existing clients\n- **Client support** - Problem resolution and customer service assistance calls\n\n### Partner Calls\n- **Partner strategy** - Relationship building sessions with brokers, partners, and channel partners\n- **Partner joint meeting** - Collaborative selling sessions conducted with multiple partner organizations\n- **Partner training** - Educational and enablement sessions for channel partners\n- **Partner referral** - Discussions about referral programs and opportunity sharing\n\n### Internal Calls\n- **Internal sales meeting** - Internal sales team coordination, updates, and planning sessions\n- **Internal coaching** - Skill development and performance improvement sessions with sales reps\n- **Internal pipeline review** - Deal progression analysis and forecasting discussions\n- **Internal strategy** - Sales planning, territory management, and strategic planning sessions\n\n### Investor Calls\n- **Investor update** - Progress reports and fundraising discussions with investors\n- **Investor board presentation** - Executive briefings and strategic updates for board members\n- **Investor advisory** - Strategic guidance sessions with advisors and consultants\n\n### Other Calls\n- **Other no show** - Scheduled calls where the prospect or client failed to join\n- **Other technical issue** - Calls that failed due to connectivity or platform problems\n- **Other cancelled** - Meetings that were cancelled during or immediately before the call"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1280,
        448
      ],
      "id": "c1e25fd8-f8ba-4d9e-bbe3-7dc0b71151c7",
      "name": "Identify call type"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Input\n\n<TITLE>{{ $('Prepare transcript').item.json.title }}</TITLE>\n<TYPE>{{ $json.type }} call</TYPE\n<PARTICIPANTS>\n{{ $('Prepare transcript').item.json.participants.toJsonString() }}\n</PARTICIPANTS>\n<TRANSCRIPT>\n{{ $('Prepare transcript').item.json.formatted_transcript.slice(0,2000000) }}\n</TRANSCRIPT>",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=# Sales Transcript Summarizer\n\n## Role\nYou are a sales performance analyst at Thatch.ai.\n\n## Goal\nEvaluate the performance of a sales call \nYou will carefully s a sales call transcript across several dimensions, and create very pragmetic, fact-based summaries from different angles.\n\n## Instructions\n\n### Step 1. Preparation\n\nRead the whole information provided: transcript <TITLE>, <TYPE>, <PARTICIPANTS>, and <FULL_TRANSCRIPT>, and instructions. Also read carefully the JSON schema to understand what is expected of you.\n\nThink and analyze the full transcript carefully, from multiple perspectives.\n\nTo give you more context of the sales process:\n- Thatch is selling ICHRA software, and participants in the team might be Sellers (reps, account executives) and Team (with support role in the call).\n- Prospects or Employers are the buyers of Thatch's product.\n- Partners or Brokers are usually involved in the process, as an intermediary between Thatch and the prospects.\n\n### Step 2. Summarization\n\nSummarize the call from different perspectives (see types in the JSON schema below)\n\nEach summary must have maximum 175 words. Mark with **bold** the key idea in each summary (and place it at the beginning of the summary).\n\nSummarization must be concise. Use direct, active language. Omit unnecessary words and introductions. For example, write “Nikos described…” instead of “The call involved Nikos, who described…”; or “John and Rachel agreed…” instead of “The sales process began with the participants agreeing…”\n\n### Step 3. Evaluation\n\nEvaluate the call from multiple dimensions and give a score between 0 and 1 based on the instructions. Use the scores and instructions given in the JSON schema.\n\n### Step 4. Extract competitors and brokers\n\nExtract from the conversation the competitors or brokers mentioned and output them with the details in the JSON schema.\n\n### Step 4. Review and improvement\n\nReview the summaries and score, and evaluate for consistency. If needed, improve them.\n\n## Output\n\nOutput a JSON, using the provided JSON schema and instructions."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        2272,
        448
      ],
      "id": "1739b5ac-31d9-44be-8300-b123216c63cf",
      "name": "Evaluate and summarize",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2272,
        608
      ],
      "id": "491158fb-98ff-41a6-854d-456739af26cf",
      "name": "gpt-4.1",
      "credentials": {
        "openAiApi": {
          "id": "0BO4TUwJ9VocTtO9",
          "name": "OpenAi (Sales Analyzer)"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"summaries\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"pricing\": {\n          \"type\": \"string\",\n          \"description\": \"Detailed summary covering all pricing discussions, including specific dollar amounts, package comparisons, budget constraints, payment terms, discounts offered, competitor pricing mentioned, and the prospect's pricing sensitivity and decision-making process\"\n        },\n        \"pain_points\": {\n          \"type\": \"string\",\n          \"description\": \"Identification and categorization of all customer challenges, frustrations, inefficiencies, and problems discussed, including current solution limitations, resource constraints, process bottlenecks, compliance issues, scalability concerns, and any urgency indicators\"\n        },\n        \"competitors\": {\n          \"type\": \"string\",\n          \"description\": \"Documentation of all competitor mentions including company names, specific products compared, competitive advantages/disadvantages discussed, switching considerations, incumbent solutions, competitive pricing references, and current vendor relationships\"\n        },\n        \"features\": {\n          \"type\": \"string\",\n          \"description\": \"Summary of all product features discussed, demonstrated, or requested, including technical capabilities, integrations, customization options, user interface elements, security features, reporting capabilities, automation functions, and feature gaps\"\n        },\n        \"use_cases\": {\n          \"type\": \"string\",\n          \"description\": \"Detail of specific business scenarios, applications, and implementation examples discussed, including industry-specific needs, departmental requirements, workflow automation opportunities, integration scenarios, and scalability requirements\"\n        },\n        \"objections\": {\n          \"type\": \"string\",\n          \"description\": \"Capture of all concerns, hesitations, barriers, and resistance points raised, including budget objections, timing concerns, feature limitations, competitive preferences, implementation challenges, and sales representative responses\"\n        },\n        \"sentiment\": {\n          \"type\": \"string\",\n          \"description\": \"Analysis of overall emotional tone, engagement level, enthusiasm indicators, skepticism signs, decision-making confidence, relationship quality, trust building progress, and prospect's receptiveness throughout the conversation\"\n        },\n        \"sales_process\": {\n          \"type\": \"string\",\n          \"description\": \"Documentation of call structure, methodology followed, questioning techniques used, discovery effectiveness, presentation quality, closing attempts, next steps defined, follow-up commitments, and adherence to sales frameworks\"\n        },\n        \"overview\": {\n          \"type\": \"string\",\n          \"description\": \"Comprehensive executive summary covering call objectives, key participants, main discussion themes, critical decisions made, relationship status, deal progression, immediate action items, and overall call outcome\"\n        }\n      },\n      \"required\": [\n        \"pricing\",\n        \"pain_points\", \n        \"competitors\",\n        \"features\",\n        \"use_cases\",\n        \"objections\",\n        \"sentiment\",\n        \"sales_process\",\n        \"overview\"\n      ],\n      \"additionalProperties\": false\n    },\n    \"evaluation\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"questioning\": {\n          \"type\": \"number\",\n          \"minimum\": 0,\n          \"maximum\": 1,\n          \"description\": \"Score based on quality of seller's open-ended questions, needs identification, and pain point discovery\"\n        },\n        \"active_listening\": {\n          \"type\": \"number\",\n          \"minimum\": 0,\n          \"maximum\": 1,\n          \"description\": \"Evaluate the seller's ability to listen and respond appropriately\"\n        },\n        \"product_knowledge\": {\n          \"type\": \"number\",\n          \"minimum\": 0,\n          \"maximum\": 1,\n          \"description\": \"Assess the seller's demonstration of expertise and value articulation\"\n        },\n        \"objection_handling\": {\n          \"type\": \"number\",\n          \"minimum\": 0,\n          \"maximum\": 1,\n          \"description\": \"Evaluate seller's effectiveness in addressing concerns and resistance\"\n        },\n        \"relationship_development\": {\n          \"type\": \"number\",\n          \"minimum\": 0,\n          \"maximum\": 1,\n          \"description\": \"Measure seller's ability to establish trust and connection\"\n        },\n        \"call_structure\": {\n          \"type\": \"number\",\n          \"minimum\": 0,\n          \"maximum\": 1,\n          \"description\": \"Assess seller's organization and logical progression\"\n        },\n        \"clarity\": {\n          \"type\": \"number\",\n          \"minimum\": 0,\n          \"maximum\": 1,\n          \"description\": \"Evaluate seller's clarity of message delivery\"\n        },\n        \"listen_ratio\": {\n          \"type\": \"number\",\n          \"minimum\": 0,\n          \"maximum\": 1,\n          \"description\": \"Assess seller's ratio of talking to listening based on character count in transcript\"\n        },\n        \"pricing_sensitivity\": {\n          \"type\": \"number\",\n          \"minimum\": 0,\n          \"maximum\": 1,\n          \"description\": \"Assess whether the prospect or employer is sensitive to the pricing\"\n        },\n        \"resistance\": {\n          \"type\": \"number\",\n          \"minimum\": 0,\n          \"maximum\": 1,\n          \"description\": \"Assess the resistance of the prospect to Thatch's solution during the call\"\n        },\n        \"persuasion\": {\n          \"type\": \"number\",\n          \"minimum\": 0,\n          \"maximum\": 1,\n          \"description\": \"Evaluate seller's skills in moving the prospect to the next stage\"\n        },\n        \"velocity\": {\n          \"type\": \"number\",\n          \"minimum\": 0,\n          \"maximum\": 1,\n          \"description\": \"Assess if this call is moving the prospect to the next stage (0=lost, 0.4=stalled, 0.7=likely forward, 1=clear commitment)\"\n        },\n        \"sentiment\": {\n          \"type\": \"number\",\n          \"minimum\": 0,\n          \"maximum\": 1,\n          \"description\": \"Assess the overall sentiment of the prospect throughout the conversation\"\n        }\n      },\n      \"required\": [\n        \"questioning\",\n        \"active_listening\",\n        \"product_knowledge\",\n        \"objection_handling\",\n        \"relationship_development\",\n        \"call_structure\",\n        \"clarity\",\n        \"listen_ratio\",\n        \"pricing_sensitivity\",\n        \"resistance\",\n        \"persuasion\",\n        \"velocity\",\n        \"sentiment\"\n      ],\n      \"additionalProperties\": false\n    },\n    \"competitors\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"name\": {\n            \"type\": \"string\",\n            \"description\": \"Name of the competitor company or solution\"\n          },\n          \"product\": {\n            \"type\": \"string\",\n            \"description\": \"Specific product, feature, or service mentioned. Max 100 characters.\"\n          },\n          \"context\": {\n            \"type\": \"string\",\n            \"description\": \"How the competitor was discussed (current provider, alternative considered, comparison made, etc. Max 200 characters.)\"\n          },\n          \"sentiment\": {\n            \"type\": \"string\",\n            \"enum\": [\"positive\", \"negative\", \"neutral\"],\n            \"description\": \"Prospect's apparent sentiment toward this competitor\"\n          }\n        },\n        \"required\": [\"name\"],\n        \"additionalProperties\": false\n      },\n      \"description\": \"Array of competitors mentioned during the call\"\n    },\n    \"brokers\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"name\": {\n            \"type\": \"string\",\n            \"description\": \"Name of the broker or brokerage firm\"\n          },\n          \"role\": {\n            \"type\": \"string\",\n            \"description\": \"The broker's role or relationship (current broker, potential partner, referral source, etc. Max 50 characters.)\"\n          },\n          \"context\": {\n            \"type\": \"string\",\n            \"description\": \"How the broker was discussed in the conversation. Max 200 characters\"\n          }\n        },\n        \"required\": [\"name\"],\n        \"additionalProperties\": false\n      },\n      \"description\": \"Array of brokers or brokerage firms mentioned during the call\"\n    }\n  },\n  \"required\": [\"summaries\", \"evaluation\"],\n  \"additionalProperties\": false\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2368,
        608
      ],
      "id": "51442a92-820c-49f1-ac4b-826182a01ac8",
      "name": "Summary JSON"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "transcripts_processed",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "is_valid",
              "fieldValue": "false"
            },
            {
              "fieldId": "type",
              "fieldValue": "={{ $json.type }}"
            },
            {
              "fieldId": "is_summarized",
              "fieldValue": "false"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2256,
        720
      ],
      "id": "efb8f314-607a-44c6-9f31-857b362ea4d6",
      "name": "Mark as invalid",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "FCsEY0pILVbfm9UX",
          "name": "Supabase (Thatch)"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  transcript: {\n    id: $json.id || null,\n    title: $json.title || null,\n    type: $('Prospect/Partner call?').item.json.type,\n    is_summarized: false,\n    operation: 'invalid'\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2960,
        720
      ],
      "id": "094b3c33-a121-47c6-9ad3-dcd1566fd3db",
      "name": "Output invalid"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "06e87031-8bc7-49d2-9c4e-54c67cb9648b",
              "leftValue": "={{ $json.type }}",
              "rightValue": "Prospect",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            },
            {
              "id": "733fa44d-ce11-48f9-966d-c229e4b08a73",
              "leftValue": "={{ $json.type }}",
              "rightValue": "Client",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            },
            {
              "id": "965a60ee-7828-4082-8076-8696051b31a6",
              "leftValue": "={{ $json.type }}",
              "rightValue": "Partner",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1984,
        448
      ],
      "id": "e2f73717-e386-4def-a89d-44b92513c607",
      "name": "Prospect/Partner call?"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  id: $('Get transcript from DB').item?.json?.id || null,\n  type: $input.item?.json?.output || 'Other'\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        448
      ],
      "id": "819a655f-8bad-48cd-a468-4197fc08ff5a",
      "name": "Prepare data"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "transcripts_processed",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Get transcript from DB').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "type",
              "fieldValue": "={{ $('Prepare data').item.json.type }}"
            },
            {
              "fieldId": "custom_summaries",
              "fieldValue": "={{ $json.output.summaries }}"
            },
            {
              "fieldId": "custom_metrics",
              "fieldValue": "={{ $json.output.evaluation }}"
            },
            {
              "fieldId": "competitors",
              "fieldValue": "={{ $json.output.competitors }}"
            },
            {
              "fieldId": "partners",
              "fieldValue": "={{ $json.output.brokers }}"
            },
            {
              "fieldId": "is_summarized",
              "fieldValue": "true"
            },
            {
              "fieldId": "is_valid",
              "fieldValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2688,
        304
      ],
      "id": "b6fac961-6387-437e-ad92-d4649e2162c6",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "FCsEY0pILVbfm9UX",
          "name": "Supabase (Thatch)"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "errorMessage": "$json.error"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2688,
        592
      ],
      "id": "507a75b0-828d-4407-a53d-54cdded12c44",
      "name": "Stop and Error"
    }
  ],
  "pinData": {
    "Transcript id": [
      {
        "json": {
          "transcript_id": "ac03afad-089d-402f-a605-3bc67c0cbe42"
        }
      }
    ]
  },
  "connections": {
    "Transcript id": {
      "main": [
        [
          {
            "node": "Get transcript from DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get transcript from DB": {
      "main": [
        [
          {
            "node": "Prepare transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare transcript": {
      "main": [
        [
          {
            "node": "Identify call type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4.1-mini1": {
      "ai_languageModel": [
        [
          {
            "node": "Identify call type",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "JSON type",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "JSON type": {
      "ai_outputParser": [
        [
          {
            "node": "Identify call type",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Identify call type": {
      "main": [
        [
          {
            "node": "Prepare data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4.1": {
      "ai_languageModel": [
        [
          {
            "node": "Evaluate and summarize",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Summary JSON",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Summary JSON": {
      "ai_outputParser": [
        [
          {
            "node": "Evaluate and summarize",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate and summarize": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark as invalid": {
      "main": [
        [
          {
            "node": "Output invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prospect/Partner call?": {
      "main": [
        [
          {
            "node": "Evaluate and summarize",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark as invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare data": {
      "main": [
        [
          {
            "node": "Prospect/Partner call?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c729cebd-c4a5-47e4-b149-5a37409818b4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "535bad63c9c52b6977a8baf998b1abee47fd663b1d2f26eee3f9a571ef54d666"
  },
  "id": "bqBP10ut3ypO9Mjm",
  "tags": []
}