Sales Agent - Legacy/🚫 Error Handler.json
{
  "name": "🚫 Error Handler",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "2b0f63ae-7164-4813-9633-d5f29775ca2d",
      "name": "Error trigger"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Workflow URL fallback\nconst workflowUrl = $json?.workflow?.id\n  ? 'https://agents.performikon.net/workflow/' + $json.workflow.id \n  : '';\n\n// Convert timestamp to UTC ISO string if present\nlet utcTimestamp = null;\nif ($json?.execution?.error?.timestamp) {\n  const d = new Date($json.execution.error.timestamp);\n  utcTimestamp = !isNaN(d) ? d.toISOString() : new Date().toISOString();\n}\n\n// Prepare raw values (no JSON.stringify unless strictly needed)\nconst errorStack = $json?.execution?.error?.stack || '';\nconst context = $input?.context || {};\nconst cause = $json?.execution?.error?.cause || {};\nconst full = $input || {};\n\nreturn { \n  workflow: {\n    id: $json?.workflow?.id || 'Unknown ID',\n    name: $json?.workflow?.name || 'Unknown workflow',\n    url: workflowUrl,\n  },\n  execution: {\n    id: $json?.execution?.id || null,\n    url: $json?.execution?.url || '',\n    mode: $json?.execution?.mode || 'unknown',\n    last_node: $json?.execution?.lastNodeExecuted || 'Unknown last node',\n  },\n  error: {\n    level: $json?.execution?.error?.level || 'warning',\n    timestamp: utcTimestamp,\n    name: $json?.execution?.error?.name || 'UnknownError',\n    node_name: $json?.execution?.error?.node?.name || $json?.execution?.lastNodeExecuted || 'Unknown node',\n    node_type: $json?.execution?.error?.node?.type || 'Unknown node type',\n    message: $json?.execution?.error?.message || 'No error message provided',\n    stack: errorStack,\n  },\n  cause,\n  context,\n  full,\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "b23ee4e2-8618-48f9-8a83-bcbffcca832e",
      "name": "Output data"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "nLxdJInLJUHTFMYi",
          "mode": "list",
          "cachedResultName": "Growth Projects — ✍🏻 Log Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "level": "={{ $json.error.level }}",
            "author": "={{ $workflow.name }}",
            "title": "={{ $json.error.message }} in {{ $json.error.node_name || $json.execution.last_node }}",
            "message": "={{ $json.error.stack }}",
            "payload": "={{ $json.full }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "level",
              "displayName": "level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "author",
              "displayName": "author",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "payload",
              "displayName": "payload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        448,
        0
      ],
      "id": "2c19ea27-48ed-49bc-b80c-80302f6eb74c",
      "name": "Execute Workflow"
    }
  ],
  "pinData": {
    "Error trigger": [
      {
        "json": {
          "execution": {
            "id": "8748",
            "url": "https://agents.performikon.net/workflow/RUXZkA0UqsjuQk0R/executions/8748",
            "error": {
              "level": "warning",
              "tags": {},
              "context": {},
              "functionality": "regular",
              "name": "NodeOperationError",
              "timestamp": 1751555080823,
              "node": {
                "parameters": {
                  "errorType": "errorMessage",
                  "errorMessage": "=Invalid URL: {{ $input }}"
                },
                "type": "n8n-nodes-base.stopAndError",
                "typeVersion": 1,
                "position": [
                  480,
                  200
                ],
                "id": "b7366afc-2089-49dc-8dad-8523a2b5cb88",
                "name": "Error validating URL"
              },
              "messages": [],
              "message": "Invalid URL: [object Object]",
              "stack": "NodeOperationError: Invalid URL: [object Object]\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_12b981d6b49d407a163f4d5244314033/node_modules/n8n-nodes-base/nodes/StopAndError/StopAndError.node.ts:102:9)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_openai@4.78.1_encoding@0.1.13_zod@3.24.1_/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1187:32)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_openai@4.78.1_encoding@0.1.13_zod@3.24.1_/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1536:38\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_openai@4.78.1_encoding@0.1.13_zod@3.24.1_/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2100:11"
            },
            "lastNodeExecuted": "Error validating URL",
            "mode": "integrated"
          },
          "workflow": {
            "id": "RUXZkA0UqsjuQk0R",
            "name": "🌐 Get Webpage"
          }
        }
      }
    ]
  },
  "connections": {
    "Error trigger": {
      "main": [
        [
          {
            "node": "Output data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output data": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b7c27f81-c8e4-4dae-ad74-438a88b7f73d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "535bad63c9c52b6977a8baf998b1abee47fd663b1d2f26eee3f9a571ef54d666"
  },
  "id": "KyIzgmxXYfkkzIk4",
  "tags": [
    {
      "updatedAt": "2025-07-08T11:52:10.792Z",
      "createdAt": "2025-07-08T11:52:10.792Z",
      "id": "vnZQD3t3tGjtfsN1",
      "name": "Tools"
    }
  ]
}